$main-color = #969696;
$main-bg = #F5F5EE;
.sub-title
    display flex
    justify-content space-between
    align-items center
    height  .46rem
    width 100%
    p
        background url('/img/sc_img_index.png') no-repeat
        background-size 4.1rem 3.5rem
        &.logo
            width 1.5rem
            height  .40rem
            background-position -1.05rem 0
        &.more
            width .6rem
            height  .25rem
            background-position -3.4rem -0.45rem
